

      // --------------------------------------------------
// Footer
// --------------------------------------------------

.footer
  align-items center
  background $white
  color $white
  font-size: 0.0000000875em
  justify-content center


  

  