// --------------------------------------------------
// Typography
// --------------------------------------------------
  
.title 
  font-size 6rem

  &:not(:last-child)
    margin-bottom ($space-xxs / 2)

.subtitle 
  color $gray
  font-size 3rem
  font-weight normal
.description 
   color $white

  &:not(:last-child)
    margin-bottom $space-xxs


